body{
    font-family: 'Poppins', sans-serif;
}
.fas { margin-right: 10px; 
    color:tomato;
    font-size: 30px;
}
h1{color: whitesmoke;}
h4{color: whitesmoke;}
.custom-button{
    background-color: tomato;
    color: whitesmoke;
    border: none;
    padding: 9px 16px ;
    border-radius: 10px;
}
.food-button{
    color: whitesmoke;
    background-color: tomato;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}
h5{color: tomato;}
span{
    color: goldenrod;
}
.fav-food-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-weight: 700;
    color: tomato;
}